{% extends 'base.html' %}

{% block title %}My Puzzles | MSE Sunshine Puzzle Club{% endblock %}

{% block content %}
    <h1>MY Puzzles</h1>

    <a href="{% url 'add_puzzle' %}">Add Puzzle</a>

    <ul>
        {% for puzzle in puzzles %}
            <li>
                {{ puzzle.title }} - {{ puzzle.get_status_display }} - {{ puzzle.pieces }} pieces
                | <a href="{% url 'edit_puzzle' puzzle.id %}">Edit</a>
                | <a href="{% url 'delete_puzzle' puzzle.id %}">Delete</a>
            </li>
        {% empty %}
            <li>No puzzles added yet.</li>
        {% endfor %}
    </ul>
{% endblock %}